/* =========================================
ABOUT MODAL STYLES
============================================ */

#about{
	background-color: rgba(0, 0, 0, 0.5);
	width: 80%;
	position: absolute;
	height: 80vh;
}