/* =========================================
ERROR POPUP STYLES
============================================ */

.error{
	position: absolute;
	width: 100%;
	background-color: $shaded;
	text-align: center;
	padding: 13px;
	color: white;
	p{
		margin: 0;
	}
}
