/* =========================================
ERROR POPUP STYLES
============================================ */

.error{
	width: 100%;
	background-color: $accent;
	text-align: center;
	padding: 9px;
	color: white;
	p{
		margin: 0;
	}
}