/* =========================================
FORECAST SECTION STYLES
============================================ */

.main_forecast{
	display: flex;
	justify-content: center;
	text-align: center;
	font-family: 'PT Sans Caption', sans-serif;
}

.today{
	background-color: rgba(250,250,250,0.8);
	margin: 5px;
	width: 35%;
	padding: 16px;
}

.today_forecast_wrapper{
	display: flex;
}

.today_forecast{
	width: 50%;
}

.today_more-info, .tmw{
	background-color: rgba(250,250,250,0.7);
	margin: 5px;
	width: 20%;
	padding: 16px;
}

.today_more-info
{
	order: -1;
}

.weekly_items{
	display: flex;
	justify-content: space-around;
}

.weekly_item{
	background-color: rgba(250,250,250,0.7);
	margin: 10px;
	padding: 10px;
	text-align: center;
	width: 18%;
}

.today_date{
	display: flex;
	justify-content: space-between;
	font-size: 1.4rem;
	h4{
		margin: 3px;
	}
}

.forecast_location{
	font-size: 1.8rem;
	text-align: left;
	margin-top: 5px;
}

.today_icon{
	width: 40%;
	height: auto;
}

.tmw_icon{
	width: 40%;
	margin: 0 auto;
}

.weekly_icon{
	width: 40%;
	margin: 0 auto;
}

.weekly_day{
	margin: 7px;
}

.weekly_date{
	margin: 7px;
}

.weekly_temp{
	margin: 10px;
}