/* =========================================
HEADER STYLES
============================================ */

header, footer{
	background-color: rgba(0,0,0,0.5);
	margin: 0;
	width: 100%;
	padding: 10px 10%;
	font-size: 1.6rem;
	display: flex;
	align-items: center;
}

header{
	justify-content: space-between;
}

header nav p{
	margin: 0px;
}

button#about_button{
	background-color: transparent;
	border: none;
	color: white;
}

button#about_button:hover{
	cursor: pointer;
}

/* =========================================
FOOTER STYLES
============================================ */

.footer_nav{
	display: flex;
	list-style: none;
	li{
		margin: 5px;
	}
}

.api_credit{
	margin-right: auto;
}
