/* =========================================
HEADER STYLES
============================================ */

header, footer{
	margin: 0;
	width: 100%;
	font-size: 1.6rem;
	display: flex;
	align-items: center;
	height: 55px;
}

header{
	justify-content: space-between;
	padding: 10px 10%;
	background-color: rgba(0,0,0,0.5);
}

header p{
	margin: 0px;
}

button#about_button{
	background-color: transparent;
	border: none;
	color: white;
	transition: color .2s ease-in;
		&:hover{
		color:  #cd5c5c;
	}
}

/* =========================================
FOOTER STYLES
============================================ */

footer{
	padding: 5px 10%;
	p{
		margin-right: auto;
	}
}

.footer_nav{
	display: flex;
	list-style: none;
	margin: 0;
	li{
		padding: 0 10px;
	}
}

.link_icon{
	height: 27px;
}