/* =========================================
MAIN STYLES
============================================ */

body{
	font-family: 'Niramit', sans-serif;
	background-color: papayawhip;
	background-image: url('../assets/wmt-splash.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

.hidden{
	display: none;
}

.wrapper{
	width: 80%;
	margin: 0 auto;
	height: calc(100vh - 110px);
	min-height: 500px;
}