/* =========================================
MAIN STYLES
============================================ */

body{
	background-color: papayawhip;
	background-image: url('../assets/wmt-splash.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

.hidden{
	display: none;
}

.wrapper{
	width: 80%;
	margin: 0 auto;
}

// button:hover{
// 	cursor: pointer;
// }