/* =========================================
SEARCH PAGE STYLES
============================================ */

form{
	margin: 0 auto;
	border: 1px solid hotpink;
	display: inline-block;
	font-size: 1.6rem;
	text-align: center;
}