/* =========================================
TYPOGRAPHY STYLES
============================================ */

$cursive : 'Sofia', cursive;

h1{
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Archivo Black', sans-serif;
	font-size: 8rem;
	text-shadow: 2px 2px 4px #8d8080;
	span{
		letter-spacing: -0.2rem;
	}
}

h4{
	font-size: 1.4rem;
	margin: 3px;
	font-family: 'Niramit', sans-serif;
}


p{
	font-size: 1.6rem;
	font-family: 'PT Sans Caption', sans-serif;
}

header span span{
	font-size: 21px;
}

.cursive{
	font-family: 'Sofia', cursive;
	text-transform: lowercase;
}

.signature{
	font-family: 'Cookie', cursive;
}

header, footer{
	color: white;
}

/* ------------  FORECAST TYPOGRAPHY STYLES  ------------ */

.weather_heading{
	text-align: center;
	color: white;
	font-family: $cursive;
	font-size: 3.4rem;
	margin: 5px 0;
}


/* ------------  TODAY  ------------ */

.today_temp{
	font-size: 3rem;
	margin-top: 5px;
}

/* ------------  WEEKLY  ------------ */



.weekly_day{
	text-transform: uppercase;
}

.weekly_temp{
	font-size: 2rem;
}