/* =========================================
TYPOGRAPHY STYLES
============================================ */

$cursive : 'Sofia', cursive;

h1{
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Archivo Black', sans-serif;
	font-size: 8.3rem;
	text-shadow: 0px 0px 10px #938d8d,
							0px 0px 15px lightgrey;	
	margin-top: 15vh;
	span{
		letter-spacing: -0.2rem;
	}
}

h4{
	font-size: 1.6rem;
	margin: 3px;
	font-family: 'Prompt', sans-serif;
}


p{
	font-size: 1.6rem;
	font-family: 'PT Sans Caption', sans-serif;
}

header span span{
	font-size: 22px;
}

header, footer{
	color: white;
	font-size: 1.8rem;
	font-family: 'Prompt', sans-serif;
	span, button, a{
		font-size: 1.8rem;
	}
}

.cursive{
	font-family: 'Sofia', cursive;
	text-transform: lowercase;
}

.signature{
	font-family: 'Cookie', cursive;
	font-size: 2.5rem;
}

/* ------------  FORECAST TYPOGRAPHY STYLES  ------------ */

.weather_heading{
	text-align: center;
	color: white;
	font-family: $cursive;
	font-size: 3.8rem;
	margin: 5px 0;
	letter-spacing: -1px;
}

.main_forecast{
	text-align: center;
	font-family: 'PT Sans Caption', sans-serif;
}

.forecast_location{
	font-family: 'Montserrat', sans-serif;
	font-size: 2.8rem;
	text-align: left;
	margin-top: 5px;
}


/* ------------  TODAY  ------------ */


.forecast_today_date,
.forecast_today_time{
	font-size: 1.6rem;
	// text-transform: uppercase;
}

.today_temp{
	font-size: 6.5rem;
}

.today_high-low{
	font-size: 1.8rem;
}

/* ------------  WEEKLY  ------------ */



.weekly_day{
	text-transform: uppercase;
	font-weight: bold;
}

.weekly_temp{
	font-size: 2rem;
}