/* =========================================
VARIABLES AND MIXINS
============================================ */

/* ------------  VARIABLES  ------------ */

$accent : #815ede;
// $shaded : #23344c; 
$shaded: rgba(35, 52, 76, 0.95);

/* ------------  MIXINS  ------------ */

@mixin centerXY(){
  display:flex;
  justify-content: center;
  align-items: center;
}

/* ------------  Mixin for responsive Media Queries ------------ */

// Breakpoints 

$sm: 600px;
$med: 800px;
$lg: 960px;
$xl: 1200px;


// Media Queries

@mixin mq($break){
    @if $break == 'sm'{
		@media(max-width: $sm){
		@content;
			}
  } 
    @else if $break == 'med'{
		@media(max-width: $med){
		@content;
	}
    } 
    @else if $break == 'lg'{
		@media(max-width: $lg){
		@content;
			}
    }
    @else if $break == 'xl'{
		@media(max-width: $xl){
		@content;
			}
		}
}