	<div class="searchWrapper">
		<div class="hero">
			<h1>Weather Me <br>
				<span class="cursive">this!</span></h1>
		</div>
		<form action="/" method="POST">
			<input type="text" placeholder="Whither?" id="autocomplete" name="searchLocation">
			<button type="submit" class="search_button">Weather!</button>
			<div class="temperature">
				<input type="radio" name="tempUnit" id="celcius" value="celcius" checked>
				<label for="celcius">&#176; C</label>
				<input type="radio" name="tempUnit" id="fahrenheit" value="fahrenheit">
				<label for="fahrenheit">&#176; F</label>
			</div>

		</form>
	</div>