			<section class="forecast">
			<h2 class="weather_heading">today's weather</h2>
			<div class="main_forecast">
	
				<div class="today">
	
					<div class="today_date">
						<h4 class="forecast_today_date">{{currentDate}}</h4>
						<h4 class="forecast_today_time">{{currentTime}}</h4>
					</div>
	
					<h3 class="forecast_location">{{placeName}}</h3>
	
					<div class="today_forecast_wrapper">
	
						<div class="today_icon">
							<img src="../assets/icons/{{todayIcon}}.png" alt="{{todayIconAlt}} weather icon">
						</div>
	
						<div class="today_forecast">
							<p class="today_temp">{{currentTemp}}&#176</p>
							<p class="today_high-low">{{todayHigh}}&#176 / {{todayLow}}&#176</p>
						</div>
	
					</div> <!-- end today_forecast_wrapper -->

	
				</div>
	
				<div class="today_more-info today_details_container">
					<p class="today_desc">{{todayDesc}}</p>
					<p class="today_details"><span>Feels like:</span><span>{{todayApparentTemp}}&#176</span></p>
					<p class="today_details"><span>P.O.P.:</span><span>{{todayPOP}}%</span></p>
					<p class="today_details"><span>Humidity:</span><span>{{todayHum}}%</span></p>
					<p class="today_details"><span>Wind:</span><span>{{todayWind}} km/h</span></p>
				</div>
	
				<div class="today_more-info weekly_desc">
					<p class="today_desc">{{weekDesc}}</p>
				</div>
	
			</div> <!-- end main_forecast -->
	
			<div class="weekly_forecast">
				<h2 class="weather_heading">this week's weather</h2>
				<div class="weekly_items">
	
					<div class="weekly_item"> <!-- DAY ONE (TOMORROW) -->
						<p class="weekly_day">{{day1Day}}</p>
						<p class="weekly_date">{{day1Date}}</p>
						<img class="weekly_icon" src="../assets/icons/{{day1Icon}}.png" alt="{{day1IconAlt}} weather icon">
						<p class="weekly_temp">{{day1Temp}}&#176;</p>
						
						<!-- day1 modal -->
						<div class="weekly_modal hidden">
							<div class="weekly_modal_container">
							
								<div class="weekly_modal_forecast">
									<p><span>High:</span><span>{{day1High}}&#176</span></p>
									<p><span>Low:</span><span>{{day1Low}}&#176</span></p>
									<p><span>P.O.P.:</span><span>{{day1POP}}%</span></p>
									<p><span>Humidity:</span><span>{{day1Hum}}%</span></p>
								</div>
							
								<div class="weekly_modal_icon">
									<img src="../assets/icons/{{day1ModalIcon}}-white.png" alt="{{day1ModalIconAlt}} weather icon">
								</div>
							
							</div>
							
							<div class="weekly_modal_desc">
								<p>{{day1Desc}}</p>
							</div>
						</div><!-- end day1 modal -->
					</div> <!-- end weekly_item -->
						
					<div class="weekly_item"> <!-- DAY TWO -->
						<p class="weekly_day">{{day2Day}}</p>
						<p class="weekly_date">{{day2Date}}</p>
						<img class="weekly_icon" src="../assets/icons/{{day2Icon}}.png" alt="{{day2IconAlt}} weather icon">
						<p class="weekly_temp">{{day2Temp}}&#176;</p>
						
						<!-- day2 modal -->
						<div class="weekly_modal hidden">
							<div class="weekly_modal_container">
							
								<div class="weekly_modal_forecast">
									<p><span>High:</span><span>{{day2High}}&#176</span></p>
									<p><span>Low:</span><span>{{day2Low}}&#176</span></p>
									<p><span>P.O.P.:</span><span>{{day2POP}}%</span></p>
									<p><span>Humidity:</span><span>{{day2Hum}}%</span></p>
								</div>
							
								<div class="weekly_modal_icon">
									<img src="../assets/icons/{{day2ModalIcon}}-white.png" alt="{{day2ModalIconAlt}} weather icon">
								</div>
							
							</div>
							
							<div class="weekly_modal_desc">
								<p>{{day2Desc}}</p>
							</div>
							
							</div><!-- end day2 modal -->
					</div> <!-- end weekly_item -->
	
					<div class="weekly_item"> <!-- DAY THREE -->
						<p class="weekly_day">{{day3Day}}</p>
						<p class="weekly_date">{{day3Date}}</p>
						<img class="weekly_icon" src="../assets/icons/{{day3Icon}}.png" alt="{{day3IconAlt}} weather icon">
						<p class="weekly_temp">{{day3Temp}}&#176;</p>
						
						<!-- day3 modal -->
						<div class="weekly_modal hidden">
							<div class="weekly_modal_container">
							
								<div class="weekly_modal_forecast">
									<p><span>High:</span><span>{{day3High}}&#176</span></p>
									<p><span>Low:</span><span>{{day3Low}}&#176</span></p>
									<p><span>P.O.P.:</span><span>{{day3POP}}%</span></p>
									<p><span>Humidity:</span><span>{{day3Hum}}%</span></p>
								</div>
							
								<div class="weekly_modal_icon">
									<img src="../assets/icons/{{day3ModalIcon}}-white.png" alt="{{day3ModalIconAlt}} weather icon">
								</div>
							
							</div>
							
							<div class="weekly_modal_desc">
								<p>{{day3Desc}}</p>
							</div>
						</div><!-- end day3 modal -->
					</div> <!-- end weekly_item -->
	
					<div class="weekly_item"> <!-- DAY FIVE -->
						<p class="weekly_day">{{day4Day}}</p>
						<p class="weekly_date">{{day4Date}}</p>
						<img class="weekly_icon" src="../assets/icons/{{day4Icon}}.png" alt="{{day4IconAlt}} weather icon">
						<p class="weekly_temp">{{day4Temp}}&#176;</p>
						
						<!-- day4 modal -->
						<div class="weekly_modal hidden">
							<div class="weekly_modal_container">
							
								<div class="weekly_modal_forecast">
									<p><span>High:</span><span>{{day4High}}&#176</span></p>
									<p><span>Low:</span><span>{{day4Low}}&#176</span></p>
									<p><span>P.O.P.:</span><span>{{day4POP}}%</span></p>
									<p><span>Humidity:</span><span>{{day4Hum}}%</span></p>
								</div>
							
								<div class="weekly_modal_icon">
									<img src="../assets/icons/{{day4ModalIcon}}-white.png" alt="{{day4ModalIconAlt}} weather icon">
								</div>
							
							</div>
							
							<div class="weekly_modal_desc">
								<p>{{day4Desc}}</p>
							</div>
						</div><!-- end day4 modal -->

					</div><!-- end weekly_item -->
						
					<div class="weekly_item"> <!-- DAY FIVE -->
						<p class="weekly_day">{{day5Day}}</p>
						<p class="weekly_date">{{day5Date}}</p>
						<img class="weekly_icon" src="../assets/icons/{{day5Icon}}.png" alt="{{day5IconAlt}} weather icon">
						<p class="weekly_temp">{{day5Temp}}&#176;C</p>
	
						<!-- day5 modal -->
						<div class="weekly_modal hidden">
							<div class="weekly_modal_container">
							
								<div class="weekly_modal_forecast">
									<p><span>High:</span><span>{{day5High}}&#176</span></p>
									<p><span>Low:</span><span>{{day5Low}}&#176</span></p>
									<p><span>P.O.P.:</span><span>{{day5POP}}%</span></p>
									<p><span>Humidity:</span><span>{{day5Hum}}%</span></p>
								</div>
							
								<div class="weekly_modal_icon">
									<img src="../assets/icons/{{day5ModalIcon}}-white.png" alt="{{day5ModalIconAlt}} weather icon">
								</div>
							
							</div>
							
							<div class="weekly_modal_desc">
								<p>{{day5Desc}}</p>
							</div>
						</div><!-- end weekly_modal -->
					</div> <!-- end weekly_item -->
	
				</div>
			</div>
		</section>