	<!DOCTYPE html>
	<html lang="en">
	
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="https://fonts.googleapis.com/css?family=Archivo+Black|Cookie|PT+Sans+Caption|Sofia" rel="stylesheet">
	<link rel="stylesheet" href="./styles/style.css">
		<title>Weather Me This!</title>
	</head>
	
	<body>
		<header>
			<a href="/" <span class="header_title">Weather Me <span class="cursive">this!</span></span></a>
			<button type="button" id="about_button">About</button>
		</header>
	
		<main class="wrapper">
			<section class="about hidden">
				Weather Me This! is a weather forecast app built in Node.js.
	
				Weather Me This! is powered by the Google Maps API and by the <a href="https://darksky.net/poweredby/">Dark Sky
					weather forecast API</a>.
	
				Weather icons c/o <a href="https://www.flaticon.com/packs/weather-151">FlatIcon</a>.
				Link icons c/o <a href="https://fontawesome.com/license">FontAwesome</a>.
			</section>