<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Weather Me This!</title>
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Cookie|PT+Sans+Caption|Sofia" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Prompt" rel="stylesheet">
	<!-- WMT CSS -->
	<link rel="stylesheet" href="./styles/style.css">
	<!-- FAVICONS -->
	<link rel="shortcut icon" type="image/png" href="./assets/favicons/wmt-favicon.png" />
</head>

	<body>
		<header>
			<a href="/"><span class="header_title contains_cursive">Weather Me <span class="cursive">this!</span></span></a>
			<button type="button" id="about_button">About</button>
		</header>
