/* =========================================
FORECAST SECTION STYLES
============================================ */
.forecast{
	position: relative;
}

.back_button{
	position: absolute;
	left: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.back_button_container{
		color: white;
		width: 20px;
}

.back_button_text{
	margin-left: 5px;
}


.main_forecast{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.today,
.today_more-info,
.weekly_item{
	background-color: rgba(250,250,250,0.8);
	border-radius: 3px;
	box-shadow: 0px 0px 10px #938d8d,
							0px 0px 15px lightgrey;	
}

/* ------------  TODAY  ------------ */


.today{
	margin: 10px;
	width: 40%;
	padding: 35px 35px 25px 35px;
}

.today_forecast_wrapper{
	display: flex;
	justify-content: space-around;
	margin-bottom: 30px;
}

.today_details_container{
	order: -1;
}

.today_more-info{
	margin: 10px;
	width: 27%;
	padding: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 225px;
	position: relative;
	top: 30px;
}

.today_details{
		display: flex;
		justify-content: space-between;
		width: 90%;
		margin: 2px;
}


.today_apparent-temp{
	margin: 8px 0px;
}

.today_temp{
	margin: 0 0 0 25px;
}

.today_high-low{
	margin: 0;
}

.today_date{
	display: flex;
	justify-content: space-between;
}

.today_icon{
	width: 40%;
}

.today_desc{
		margin: 2px;
		line-height: 1.6;
}

/* ------------  WEEKLY  ------------ */

.weekly_items{
	display: flex;
	justify-content: space-around;
	padding: 0px 20px 0px 20px;
	margin-bottom: 30px;
}

.weekly_item{
	position: relative;
	margin: 10px;
	padding: 10px;
	text-align: center;
	width: 17%;
	top: 0;
	transition: all 0.3s ease-in;
	&:hover{
		cursor: pointer;
		box-shadow: 0 0 20px rgba(255,255,255,0.8);
		top: -5px;
	}
}

.weekly_icon{
	width: 40%;
	margin: 15px auto;
}

.weekly_day{
	margin: 7px 7px 0px 7px;
}

.weekly_date{
	margin: 0px 7px 7px 7px;
}

.weekly_temp{
	margin: 10px;
}

/* ------------  WEEKLY MODAL STYLES  ------------ */

.weekly_modal{
	background-color: $shaded;
	color: white;
	padding: 30px;
	z-index: 10;
	position: absolute;
	left: -35px;
	top: -210px;
	width: 300px;
	border-radius: 7px;
	&:after {
		content:"";
		position:absolute;
		bottom:-15px; /* value = - border-top-width - border-bottom-width */
		left:50px;
		border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
		border-style:solid;
		border-color:$shaded transparent;
		display:block; 
		width:0;
	}
}

.modal_close_button{
	position: absolute;
	color: white;
	right: 10px;
	top: 10px;
	width: 20px;
}

.weekly_modal_container{
	display:flex;
	justify-content: space-between;
}

.weekly_modal_forecast{
	width: 60%;
	p{
		display: flex;
		justify-content: space-between;
		margin: 0;
		line-height: 1.6;
	}
}

.weekly_modal_desc p{
	margin-bottom: 0;
}

.weekly_modal_icon{
	@include centerXY;
	width: 30%;
	color: white;
}



/* ------------  RESPONSIVE STYLES  ------------ */

@media(max-width: 1000px){
	.today_temp{
		font-size: 5.5rem;
	}
	.today_more-info{
		width: 30%;
	}
		.today_date{
		flex-direction: column;
			h4{
				margin: 0px;
			}
			.forecast_today_date,
			.forecast_today_time{
				text-align: left;
			}
	}
}

@media(max-width: 900px){
	.wrapper{
		width:90%;
	}

	.back_button{
		left:45px;
	}

	.today{
		padding: 20px 20px 5px 20px;
	}

	.today_more-info{
		width: 30%;
	}


}

@media(max-width: 750px){
	
	.main_forecast{
		display:grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;
	}
	
	.today{
		width: 93%;
		min-height: 91%;
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 3;
	}
	.today_more-info{
		top: 0px;
		width: 93%;
		min-height: 100px;
		padding: 20px;
	}
	.forecast_location{
		text-align: center;
	}

	.today_details_container{
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 2;
		grid-column-end: 3;
	}

	.weekly_desc{
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 2;
		grid-column-end: 3;
	}
	.today_forecast_wrapper{
		margin-bottom: 10px;
		flex-direction: column;
		align-items: center;
	}
}


@media(max-width: 640px){
	.weekly_items{
		flex-direction: column;
		align-items: center;
	}
	.weekly_item{
		padding-left:15%;
		width: 80%;
		&:hover{
			top: 0;
		}
	}
	.weekly_icon{
		width: 15%;
		position: absolute;
		top: 18%;
		right: 25%;
		}
	.weekly_item p{
		text-align: left;
	}

}




@media(max-width: 500px){

	.main_forecast{
		display: flex;
		flex-direction: column;
	}
	.today{
		width: 93%;

	}
	.today_details_container{
		order: 0;
	}

	.today_forecast_wrapper{
		flex-direction: row;
	}
	.today_date{
		flex-direction: row;
	}

	.today_icon{
		width: 25%;
	}

	.today_desc{
		margin-bottom:5px;
	}
}