/* =========================================
HEADER & FOOTER STYLES
============================================ */

header, footer{
	margin: 0;
	width: 100%;
	font-size: 1.6rem;
	display: flex;
	align-items: center;
	height: 55px;
}

.contains_cursive{
	span{
		position: relative;
		top:0;
		transition: all .2s ease-in;
	}

	&:hover {
		color: white;
		span{
			top: -3px;
			color: $hover-light;
		}
	}
}

/* ------------  HEADER TYLES  ------------ */

header{
	justify-content: space-between;
	padding: 10px 10%;
	background-color: rgba(20, 3, 48, 0.56);
}

.nav_wrapper{
	display: flex;
}

button#about_button{
	background-color: transparent;
	border: none;
	color: white;
	transition: color .2s ease-in;
		&:hover{
		color:$hover-light;
	}
}

.search_icon{
	width: 25px;
	color: white;
	margin-top: 10px;
	margin-left: 25px;
	&:hover{
		color: $hover-light;
	}
}

/* ------------  FOOTER STYLES  ------------ */



footer{
	padding: 5px 10%;
	p{
		margin-right: auto;
		&:hover{
			cursor: pointer;
		}
	}
}

.footer_nav{
	display: flex;
	align-items:center;
	list-style: none;
	margin: 0;
	li{
		padding: 0 12px;
	}
}

.link_icon{
	width: 30px;
	position: relative;
	top: 0;
	transition: top .2s ease-in;
	&:hover{
		top: -5px;
	}
}



/* ------------  RESPONSIVE STYLES  ------------ */

@media(max-width: 430px){
		header{
		flex-direction: column;
		padding: 10px 10% 15px;
		height: 100px;
	}
}

@media(max-width: 350px){
	header{
		flex-direction: column;
		padding: 10px 10% 15px;
		height: 100px;
	}
}

@media(max-width: 550px){
	footer{
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		height: 100px;
		padding: 10px;
		
		p{
			display: none;
			
		}

		.footer_nav{
			padding-inline-start: 0px;
			li{
				margin: 0 2vh;
			}
		} 
		
		.link_icon{
			width: 35px;
		}
	}
}